/* line 4, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
body {
  padding-top: 80px;
  overflow-y: auto;
}

/* line 8, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.flex-container {
  display: flex;
}

/* line 11, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.resume-section {
  display: none;
}
/* line 14, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.resume-section[s-active] {
  display: flex;
}

/* line 17, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.toggles {
  border: 1px solid #02779E;
  display: flex;
  border-radius: 3px;
  width: 400px;
  margin: auto;
}
/* line 24, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.toggles--toggle {
  transition: all 0.2s ease-in-out;
  padding: 0.5rem 2.5rem;
  font-weight: bold;
  font-size: 0.8em;
  color: #02779E;
  cursor: pointer;
  width: 200px;
}
/* line 33, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.toggles--toggle[s-active] {
  background-color: #02779E;
  color: white;
}
/* line 37, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.toggles--toggle[s-active]:hover {
  background-color: #027fa8;
  color: #f2f8fa;
}
/* line 41, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.toggles--toggle:hover {
  background-color: #f2f8fa;
  color: #027fa8;
}

/* line 46, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--list {
  width: 50%;
}
/* line 49, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--body {
  width: 50%;
}
/* line 52, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--scale {
  height: 5px;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: #BEBEBE;
  background-image: linear-gradient(90deg, #BEBEBE, #02779E);
}
/* line 62, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--scale-label {
  position: absolute;
  top: 10px;
  color: black;
  font-weight: bold;
  font-size: 0.8em;
}
/* line 69, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--scale-label:first-child {
  left: 0;
}
/* line 72, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--scale-label:last-child {
  right: 0;
}
/* line 75, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill {
  line-height: 2rem;
}
/* line 78, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill + .skillset--skill {
  margin-left: 2rem;
}
/* line 81, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill-container {
  align-items: center;
}
/* line 84, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill-container + .skillset--skill-container {
  margin-top: 2rem;
}
/* line 87, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill-logo {
  font-size: 3rem;
  margin-right: 2rem;
}
/* line 91, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill-logo[m-adobe] {
  color: red;
}
/* line 94, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill-logo[m-sketch] {
  color: #FCBD35;
}
/* line 97, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill-logo[m-invision] {
  color: #FF3366;
}
/* line 100, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill-logo[m-html] {
  color: #E7603D;
}
/* line 103, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill-logo[m-css] {
  color: #1F75B4;
}
/* line 106, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill-logo[m-js] {
  color: #d6ba32;
}
/* line 109, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.skillset--skill-logo[m-ruby] {
  color: #d1162b;
}

@media (max-width: 560px) {
  /* line 113, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
  .toggles {
    width: 100%;
  }
  /* line 116, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
  .toggles--toggle {
    padding: 0.5rem 1.5rem;
  }

  /* line 119, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
  h1 {
    line-height: 1.2em;
  }

  /* line 123, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
  .skillset--skill-container {
    display: block;
  }
  /* line 126, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
  .skillset--skill-logo {
    display: inline-block;
    width: 100%;
  }
  /* line 130, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
  .skillset--skill {
    margin-right: 1em;
    white-space: nowrap;
  }
  /* line 134, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
  .skillset--skill + .skillset--skill {
    margin-left: 0;
  }
}
/* line 137, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
.divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 1px;
  width: 100%;
  display: inline-block;
  background-color: #BEBEBE;
}

/* line 146, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
section {
  display: inline-block;
  width: calc(100% - 4rem);
  padding: 2rem;
}

@media (min-width: 768px) {
  /* line 152, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
  section {
    width: 750px;
    padding-left: calc( (100% - 750px) / 2 );
    padding-right: calc( (100% - 750px) / 2 );
  }
}
@media (min-width: 992px) {
  /* line 159, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
  section {
    width: 970px;
    padding-left: calc( (100% - 970px) / 2 );
    padding-right: calc( (100% - 970px) / 2 );
  }
}
@media (min-width: 1200px) {
  /* line 166, /Users/davemccarthy/projects/portfolio/app/assets/stylesheets/resume.sass */
  section {
    width: 1170px;
    padding-left: calc( (100% - 1170px) / 2 );
    padding-right: calc( (100% - 1170px) / 2 );
  }
}
