.navigation(js-navigation)
  %a.navigation--logo(href="/")
    =image_tag "mark.svg"
  
  %a.navigation--link(href="/about") About Dave
  %a.navigation--link(href="http://www.aslittledesign.com") Blog
