.navigation(js-navigation)
  .navigation--duplicate-svg.svg-container(js-duplicate-svg)

  .navigation--content
    %a.navigation--logo(href="/" data-icon="logo")
    
    .right-align.wide
      %a.navigation--link(href="/about") About
      -# %a.navigation--link(href="http://www.aslittledesign.com") Blog
