.navigation(js-navigation)
  .navigation--duplicate-svg.svg-container(js-duplicate-svg)

  .navigation--content
    %a.navigation--logo(href="/" data-icon="logo")
    
    %a.navigation--link(href="/about") About Dave
    %a.navigation--link(href="http://www.aslittledesign.com") Blog
