$body-background: #fafafa

body
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  margin: 0
  background-color: $body-background
  overflow-y: hidden

[s-hidden]
  display: none

[s-transparent]
  opacity: 0
  pointer-events: none

.svg-container
  height: 100vh
  width: 100%

.node
  cursor: pointer

.centered
  text-align: center

.center-column
  width: 600px
  margin: auto
  padding: 3em
  border: 1px solid darken($light-gray, 5%)
  border-radius: 3px

.nav-leader
  margin-top: calc(80px + 2rem)

.leader
  margin-top: 2rem

.trailer
  margin-bottom: 2rem

.centered
  text-align: center

.left-align
  text-align: left

.right-align
  text-align: right

.wide
  width: 100%
