%section.center-column.nav-leader
  %h1.centered My name's Dave
  %p I'm a full-stack designer living in San Francisco. As long as I can remember, I've been drawing, playing instruments, taking pictures... I even started learning Photoshop before I entered high school. With an eclectic artistic background, interface design was instantly intuitive, just like the interfaces I strive to create.

  .centered
    %h3 Get in touch!
    %a(href="mailto:dave@aslittledesign.com") dave@aslittledesign.com
    %br
    %a(href="https://twitter.com/aslittledesign") @AsLittleDesign
    %br
    %a(href="https://ello.co/davemccarthy") Ello