.container.centered(style="padding-top: 100px")
  %h1 Hi, I'm Dave! I make things.
  %p(style="width: 40%; margin: auto; text-align: left;") I'm a designer in the bay area that loves to bring ideas to life. I started drawing at an age that I can barely remember, and thoughout my childhood and teenage years, I always pursued artistic endeavors. Whether I was spending my time after school in photoshop, or showing my artwork in a gallery show, I had the time of my life.

  %h2 Get in touch!
  %a(href="mailto:dave@aslittledesign.com") dave@aslittledesign.com
  %br
  %br
  %a(href="https://twitter.com/aslittledesign") @AsLittleDesign
  %br
  %br
  %a(href="https://ello.co/davemccarthy") Ello