!!! 5
%html
  %head
    %title Dave Scott McCarthy
    %link(href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css')
    = stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => "true"
    = javascript_include_tag "application", 'data-turbolinks-track' => "true"
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width")

  %body
    .hidden(js-images)
      - images = Dir.glob("app/assets/images/photographs/*")
      - images.each do |image|
        -image.slice! "app/assets/images/"
        %span= image_path image
